/* Recipe Card UI */
.recipe-card {
  display: flex;
  padding: 2rem 2.25rem;
  flex-direction: column;
  gap: 25px;
  border-radius: 16px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
}

.recipe-top {
  display: flex;
  gap: 1.5rem;
}
.recipe-card__image {
  border-radius: 8px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.recipe-url {
  margin-bottom: 15px;
}

.recipe-card__content {
  display: flex;
  gap: 4rem;
}
/* meta container with servings and etc. */
.recipe-card__meta {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.meta-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.meta-icon {
  font-size: 1.1rem;
}

.meta-item--save {
  background-color: #fff3e0;
  cursor: pointer;
}

/* ingrediants container */
.recipe-ingredients {
  flex: 1; /* take equal space */
  min-width: 0;
}

.recipe-ingredients li {
  border-bottom: 1px solid #ccc; /* Adds the line under each item */
  padding: 10px 0; /* Adds breathing room above and below text */
}

.recipe-instructions {
  flex: 2;
}

.instructions {
  margin-bottom: 15px;
}

.instructions h2 {
  margin-bottom: 10px;
}
.instructions li {
  margin-bottom: 10px;
}
.instructions ol {
  margin-left: 20px;
}

.instructions ol li::marker {
  color: #e65100;
  font-weight: bold;
  font-size: 1em;
}
